<!-- Works as a base structure for every html page  -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='style/main.css')}}">
    {% block head %}{% endblock%}
    <!-- Will contain all the head part to  carry in other html files -->
</head>
<body>
    <!-- These blocks are used for if else , for loops its statements -->
    {% block body%} {% endblock%}
</body>
</html>